doctype html
html(lang='ru')
    head
        title Пижон
        include blocks/head/meta-and-link
        include blocks/header
    body
        .wrapper
            include blocks/topmenu
            .main.block
                .container
                    main.page
                        h1 Гарантии
                        ul.breadcrumbs.block
                            li
                                a(href='#') Главная
                            li
                                span Гарантии
                        .col-lg-3
                            img.img-responsive.garants-img(src='images/content/gif.png' alt='Гарантии получения товара')
                        .col-lg-9
                            .garants-title Гарантии получения товара
                            .garants-text Многие клиенты не решаются заказывать вещи через интернет, боясь обмана. Но заказывая вещи у нас Вам не о чем переживать.
                            .garants-subtitle Вы можете нам доверять потому что:
                            ul.garants
                                li Мы работаем в качестве юридического лица ООО «ПРОСТОР» Наш ОГРН 1157847203579
                                li Весь ассортимент можно посмотреть, померить и приобрести у нас в шоуруме.
                                li В Питере оплата производится наличными при получении заказа.
                                li Вы можете попросить сделать фотографии вещей из Вашего заказа перед отправкой. Для этого просто укажите это в окошке комментария в корзине при оформлении заказа.
                        .col-lg-3
                            img.img-responsive.garants-img(src='images/content/quality.png' alt='Гарантии качества товара')
                        .col-lg-9
                            .garants-title Гарантии качества товара
                            .garants-text Переживаете что заказанный товар может прийти в ненадлежащем качестве?
                            .garants-subtitle Вам не о чем беспокоиться, у нас работает опытный коллектив,проверка товара на брак осуществляется 5 раз:
                            ul.garants
                                li Менеджером по закупке при заказе товара на фабрике.
                                li Нашими сотрудниками, которые передают товар логистической компании для перевозки груза.
                                li Менеджерами при приеме товара в Санкт-Петербурге.
                                li Кладовщиками при передачи товара на склад.
                                li Менеджером при передачи товара курьеру.
                            .garants-subtext Это является гарантией получения Вами товара в отличном состоянии.
        footmenu.footmenu.block
            .container
                .foot-col.num1
                    .footblock
                        .footblock-title Меню
                        ul.menu
                            li
                                a(href='#' title='Преимущества') Преимущества
                            li
                                a(href='#' title='Гарантии') Гарантии
                            li
                                a(href='#' title='Возврат') Возврат
                            li
                                a(href='#' title='Отзывы') Отзывы
                            li
                                a(href='#' title='Акции') Акции
                            li
                                a(href='#' title='Статьи') Статьи
                            li
                                a(href='#' title='Оплата и доставка') Оплата и доставка
                            li
                                a(href='#' title='Контакты') Контакты
                            li
                                a(href='#' title='Вакансии') Вакансии
                            li
                                a(href='#' title='Оптовым покупателям') Оптовым покупателям
                        .footblock.copyright
                            | © 2016 Pizhon Все права защищены
                .foot-col.num2
                    .footblock
                        .footblock-title Категории
                        ul.menu
                            li
                                a(href='#' title='Новинки') Новинки
                            li
                                a(href='#' title='Распродажа') Распродажа
                            li
                                a(href='#' title='Куртки') Куртки
                            li
                                a(href='#' title='Кофты') Кофты
                            li
                                a(href='#' title='Аксессуары') Аксессуары
                            li
                                a(href='#' title='Нижнее белье') Нижнее белье
                            li
                                a(href='#' title='Футболки') Футболки
                            li
                                a(href='#' title='Сумки') Сумки
                            li
                                a(href='#' title='Очки') Очки
                            li
                                a(href='#' title='Спецпредложения') Спецпредложения

                .foot-col.num3
                    .footblock
                        a.footblock-map(href='#' title='Карта сайта') Карта сайта
                        .foot-phones 8 (812) 988-90-07
                        a.foot-email(href='mailto:support@pizhon.ru' title='Напишите нам') support@pizhon.ru
                        .foot-adr Санкт-Петербург, Литейный Пр. 61
                    .footblock
                        .social
                            ul
                                li
                                    a.fb(target='_blank' href='https://www.facebook.com/#' title='Facebook') Facebook
                                li
                                    a.vk(target='_blank' href='https://vk.com/#' title='Вконтакте') Вконтакте
                                li
                                    a.inst(target='_blank' href='https://www.instagram.com/#' title='Instagram') Instagram
                                li
                                    a.ok(target='_blank' href='https://ok.ru/#' title='OK') OK
                    .footblock
                        .payment
                            ul
                                li
                                    a.nal(target='_blank' href='#' title='Наличные курьером') Наличные курьером
                                li
                                    a.ym(target='_blank' href='#' title='Яндекс Деньги') Яндекс Деньги
                                li
                                    a.wma(target='_blank' href='#' title='WebMoney') Аттестован WebMoney
                                li
                                    a.wm(target='_blank' href='#' title='Мы принимаем WebMoney') Мы принимаем WebMoney
                                li
                                    a.mc(target='_blank' href='#' title='MasterCard') MasterCard
                                li
                                    a.ems(target='_blank' href='#' title='EMS Почта России') EMS Почта России
                                li
                                    a.qiwi(target='_blank' href='#' title='Qiwi Кошелек') Qiwi Кошелек
                                li
                                    a.mail(target='_blank' href='#' title='Почта России') Почта России
                .foot-col.num4
                    .footblock
                        .club-title Вступив в клуб Пижон Вы будете получать информацию о нас. Для членов клуба дополнительные скидки.
                        button.btn.club-form-btn(type='submit' name='club-btn' value='sending') Вступить в клуб
        include blocks/footer
        script(src='js/jquery-3.1.1.min.js' defer)
        script(src='js/slick.min.js' defer)
        script(src='js/template.js' defer)