doctype html
html(lang='ru')
    head
        title Пижон
        include blocks/head/meta-and-link
        include blocks/headmenu
        include blocks/header
    body
        .wrapper
            include blocks/topmenu
            include blocks/slideshow
            include blocks/top-banners
            .main.block
                .container
                    main.page
                        .news Новинки
                            .col-lg-3
                                .news-item
                                    a.news-item-link(href='#' title='Часы Daniel Wellington')
                                        img.news-item-img.img-responsive(src='images/content/new-items/item-1.jpg' alt='Часы Daniel Wellington')
                                    .news-item-textWrap
                                        a.news-item-title(href='#' title='Часы Daniel Wellington') Часы Daniel Wellington
                                        .news-item-description Часы
                                        .news-item-price 999 руб.
                                        button.news-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .news-item
                                    a.news-item-link(href='#' title='Рюкзак Gucci')
                                        img.news-item-img.img-responsive(src='images/content/new-items/item-2.jpg' alt='Рюкзак Gucci')
                                    .news-item-textWrap
                                        a.news-item-title(href='#' title='Рюкзак Gucci') Рюкзак Gucci
                                        .news-item-description Рюкзаки
                                        .news-item-price 6199 руб.
                                        button.news-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .news-item
                                    a.news-item-link(href='#' title='Сумка Michael Kors')
                                        img.news-item-img.img-responsive(src='images/content/new-items/item-3.jpg' alt='Сумка Michael Kors')
                                    .news-item-textWrap
                                        a.news-item-title(href='#' title='Сумка Michael Kors') Сумка Michael Kors
                                        .news-item-description Сумки
                                        .news-item-price 5900 руб.
                                        button.news-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .news-item
                                    .news-item-action Акция действует еще:
                                        .news-item-action-timer 02:05:08:56
                                    a.news-item-link(href='#' title='Комплект белья Calvin Klein белый')
                                        img.news-item-img.img-responsive(src='images/content/new-items/item-action.jpg' alt='Комплект белья Calvin Klein белый')
                                    .news-discount-text Скидка -35%
                                        img.news-discount-img.img-responsive(src='images/content/new-items/discount.jpg' alt='Скидка -35%')
                                    .news-item-textWrap
                                        a.news-item-title(href='#' title='Комплект белья Calvin Klein белый') Комплект белья Calvin Klein белый
                                        .news-item-description Комплект нижнего белья
                                        .news-item-oldprice 2500 руб.
                                            .news-item-newprice 1499 руб.
                                        button.news-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                        .weeks Новинки
                            .col-lg-3
                                .weeks-item
                                    a.weeks-item-link(href='#' title='Часы Daniel Wellington')
                                        img.weeks-item-img.img-responsive(src='images/content/week-items/item1.jpg' alt='Часы Daniel Wellington')
                                    .weeks-item-textWrap
                                        a.weeks-item-title(href='#' title='Часы Daniel Wellington') Часы Daniel Wellington
                                        .weeks-item-description Часы
                                        .weeks-item-price 999 руб.
                                        button.weeks-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .weeks-item
                                    a.weeks-item-link(href='#' title='Рюкзак Gucci')
                                        img.weeks-item-img.img-responsive(src='images/content/week-items/item2.jpg' alt='Рюкзак Gucci')
                                    .weeks-item-textWrap
                                        a.weeks-item-title(href='#' title='Рюкзак Gucci') Рюкзак Gucci
                                        .weeks-item-description Рюкзаки
                                        .weeks-item-price 6199 руб.
                                        button.weeks-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .weeks-item
                                    a.weeks-item-link(href='#' title='Сумка Michael Kors')
                                        img.weeks-item-img.img-responsive(src='images/content/week-items/item3.jpg' alt='Сумка Michael Kors')
                                    .weeks-item-textWrap
                                        a.weeks-item-title(href='#' title='Сумка Michael Kors') Сумка Michael Kors
                                        .weeks-item-description Сумки
                                        .weeks-item-price 5900 руб.
                                        button.weeks-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                            .col-lg-3
                                .weeks-item
                                    a.weeks-item-link(href='#' title='Сумка Michael Kors')
                                        img.weeks-item-img.img-responsive(src='images/content/week-items/item4.jpg' alt='Сумка Michael Kors')
                                    .weeks-item-textWrap
                                        a.weeks-item-title(href='#' title='Сумка Michael Kors') Сумка Michael Kors
                                        .weeks-item-description Сумки
                                        .weeks-item-price 5900 руб.
                                        button.weeks-item-btn(type='button' name='newitems-item-btn'  value='cart/add') Купить
                        .about
                            .col-lg-3
                                img.about-img.img-responsive(src='images/content/polo.jpg' alt='')
                            .col-lg-9
                                .about-title Интернет-магазин «Пижон» – модная одежда и аксессуары!
                                .about-text Интернет-магазин "Пижон" рад предложить вам постоянно обновляющийся огромный ассортимент модной одежды и аксессуаров от ведущих мировых производителей. Наш большой выбор доставит настоящее удовольствие ценителям качественных и элегантных модных изделий, а также поможет грамотно сформировать имидж успешного, не лишенного вкуса, человека, который стремится к совершенству во всех мелочах. <br> Покупать брендовые вещи в нашем магазине очень удобно и выгодно. Продуманная навигация сайта дает возможность посетителю максимально быстро находить необходимые товары, стоимость которых порадует каждого своей демократичностью и доступностью. К тому же, оформить заказ в нашем интернет-магазине в Санкт-Петербурге можно в абсолютно любое время суток, даже не выходя из своего дома. Интернет-магазин "Пижон" предлагает богатый выбор модной продукции. <br> У нас вы можете купить практичные джинсы и изящные платья, которые станут украшением вашего гардероба, роскошное нижнее белье, оригинальные женские и мужские футболки, теплые трикотажные кофты, которые согреют в холода и привнесут новые уникальные черты в сформировавшийся образ. Также мы предлагаем удобные и стильные куртки, надев которые вы будете выглядеть абсолютно безупречно в любой ситуации. Помимо этого, наш магазин в СПб предлагает вашему вниманию разнообразные аксессуары для одежды. Сумочки, платки, шарфы, кошельки, ремни, солнцезащитные очки – все это представлено в широчайшем ассортименте. При этом не меньший интерес у вас вызовут и изящные часы Calvin Klein, по праву являющиеся истинным эталоном изысканности, безупречного вкуса и элегантности. Женские и мужские модели, которые вы сегодня можете заказать в нашем магазине в Санкт-Петербурге, станут хорошим дополнением к элегантному вечернему платью или к строгому деловому костюму. <br> Такие аксессуары также отлично гармонируют и с любой повседневной одеждой и подходят для тех, кто ценит настоящую роскошь во всех ее проявлениях. На все товары мы предоставляем гарантию качества, ведь наш магазин дорожит своей репутацией. Мы всегда тщательно проверяем качество каждого изделия, поэтому у нас вы никогда не столкнетесь с браком. Наш магазин готов предложить вам большой выбор практичного и удобного женского и мужского белья от известных брендов. Оно изготовлено из натурального хлопка с эластаном, поэтому длительное время сохраняет свой красивый внешний вид и отвечает всем экологическим требованиям. У нас вы можете купить удобные и оригинальные футболки поло. Такая модная одежда будет по душе каждому ценителю качественных и стильных вещей. Богатый выбор моделей и расцветок, отличное качество, уникальные дизайнерские решения – все это вы сможете найти в нашем интернет-магазине. Мы поможем вам пополнить гардероб интересными и яркими вещами, покорившими сердца покупателей во всех странах мира.
        include blocks/footmenu
        include blocks/footer
        script(src='js/jquery-3.1.1.min.js' defer)
        script(src='js/slick.min.js' defer)
        script(src='js/template.js' defer)