footer.footer.block
    .container
        .footer-title Общество с ограниченной ответственностью ООО «ПРОСТОР» ОГРН 1157847203579, Фактический и юр. адрес: г. Санкт-Петербург, Литейный Пр. 61.
        .footer-phone Телефон: 8 (812) 988-90-07. Интернет-магазин Пижон
        .footer-attention Внимание: на сайте представлены копии оригинальных брендов.