footmenu.footmenu.block
    .container
        .foot-col.num1
            .footblock
                .footblock-title Меню
                ul.menu
                    li
                        a(href='#' title='Преимущества') Преимущества
                    li
                        a(href='#' title='Гарантии') Гарантии
                    li
                        a(href='#' title='Возврат') Возврат
                    li
                        a(href='#' title='Отзывы') Отзывы
                    li
                        a(href='#' title='Акции') Акции
                    li
                        a(href='#' title='Статьи') Статьи
                    li
                        a(href='#' title='Оплата и доставка') Оплата и доставка
                    li
                        a(href='#' title='Контакты') Контакты
                    li
                        a(href='#' title='Вакансии') Вакансии
                    li
                        a(href='#' title='Оптовым покупателям') Оптовым покупателям
                .footblock.copyright
                    | © 2016 Pizhon Все права защищены
        .foot-col.num2
            .footblock
                .footblock-title Категории
                ul.menu
                    li
                        a(href='#' title='Новинки') Новинки
                    li
                        a(href='#' title='Распродажа') Распродажа
                    li
                        a(href='#' title='Куртки') Куртки
                    li
                        a(href='#' title='Кофты') Кофты
                    li
                        a(href='#' title='Аксессуары') Аксессуары
                    li
                        a(href='#' title='Нижнее белье') Нижнее белье
                    li
                        a(href='#' title='Футболки') Футболки
                    li
                        a(href='#' title='Сумки') Сумки
                    li
                        a(href='#' title='Очки') Очки
                    li
                        a(href='#' title='Спецпредложения') Спецпредложения

        .foot-col.num3
            .footblock
                a.footblock-map(href='#' title='Карта сайта') Карта сайта
                .foot-phones 8 (812) 988-90-07
                a.foot-email(href='mailto:support@pizhon.ru' title='Напишите нам') support@pizhon.ru
                .foot-adr Санкт-Петербург, Литейный Пр. 61
            .footblock
                .social
                    ul
                        li
                            a.fb(target='_blank' href='https://www.facebook.com/#' title='Facebook') Facebook
                        li
                            a.vk(target='_blank' href='https://vk.com/#' title='Вконтакте') Вконтакте
                        li
                            a.inst(target='_blank' href='https://www.instagram.com/#' title='Instagram') Instagram
                        li
                            a.ok(target='_blank' href='https://ok.ru/#' title='OK') OK
            .footblock
                .payment
                    ul
                        li
                            a.nal(target='_blank' href='#' title='Наличные курьером') Наличные курьером
                        li
                            a.ym(target='_blank' href='#' title='Яндекс Деньги') Яндекс Деньги
                        li
                            a.wma(target='_blank' href='#' title='WebMoney') Аттестован WebMoney
                        li
                            a.wm(target='_blank' href='#' title='Мы принимаем WebMoney') Мы принимаем WebMoney
                        li
                            a.mc(target='_blank' href='#' title='MasterCard') MasterCard
                        li
                            a.ems(target='_blank' href='#' title='EMS Почта России') EMS Почта России
                        li
                            a.qiwi(target='_blank' href='#' title='Qiwi Кошелек') Qiwi Кошелек
                        li
                            a.mail(target='_blank' href='#' title='Почта России') Почта России
        .foot-col.num4
            .footblock
                .subscribe-title Скидка 200 руб. на первую покупку
                form.subscribe-form(action='#' method='post')
                    input(type='email' placeholder='E-mail' name='subscribe-form-name' value='' pattern='' required)
                    button.btn.subscribe-form-btn(type='submit' name='subscribe-form-btn' value='sending') Подписаться


