header.header.block
    .container
        .callback
            .callback-phone 8 (812) 988 90 07
            .callback-city Санкт-Петербург
            button.callback-btn Заказать обратный звонок
        .location
            .location-metro Шоурум в 5 минутах от метро
            .location-address Литейный Пр. 61
        .logo
            a(href='/')
                img.img-responsive(src='images/logo.png', alt='')
        .banners
            a.banners-search(href='#') Поиск
            a.banners-delivery(href='#') Бесплатная доставка
            a.banners-tesmonials(href='#') Отзывы о нас
            a.banners-showroom(href='#') Шоурум
            a.banners-register(href='#') Регистрация
            a.banners-cart(href='#') Корзина
