header.header.block
    .container
        .callback
            .callback-phone 8 (812) 988 90 07
            .callback-city Санкт-Петербург
            button.callback-btn Заказать обратный звонок
        .location
            .location-metro Шоурум в 5 минутах от метро
            .location-address Литейный Пр. 61
        .logo
            a(href='/')
                img.img-responsive(src='images/logo.png', alt='')
        .banners
            .banners-search Поиск
            .banners-delivery Бесплатная доставка
            .banners-tesmonials Отзывы о нас
            .banners-showroom Шоурум
            .banners-register Регистрация
            .banners-cart Корзина
