.headmenu.block
    .container
        ul.menu
            li
                a(href="#") Акции
            li
                a(href="#") Доставка и оплата
            li
                a(href="#") Гарантии
            li
                a(href="#") Легкий обмен
            li
                a(href="#") Контакты
        a.login(href='#') Войти
