headmenu.block
    .container
        .headmenu
            a.headmenu-action(href='#') Акции
            a.headmenu-delivery(href='#') Доставка и оплата
            a.headmenu-garants(href='#') Гарантии
            a.headmenu-swap(href='#') Легкий обмен
            a.headmenu-contacts(href='#') Контакты
        a.login(href='#') Войти
