headmenu.block
    .container
        .headmenu
            .headmenu-action Акции
            .headmenu-delivery Доставка и оплата
            .headmenu-garants Гарантии
            .headmenu-swap Легкий обмен
            .headmenu-contacts Контакты
        a.login(href='#') Войти
