.slideshow.block
    .slideshow-item
        .container
            .slideshow-text
                .slideshow-label Calvin Klein
                .slideshow-title Нижнее белье
                .slideshow-collection Новая коллекция
                a.btn(href='' title='Посмотреть') Посмотреть
        img.slideshow-img(src='images/slideshow/slide1.jpg' alt='Calvin Klein')
    .slideshow-item
        .container
            .slideshow-text
                .slideshow-label Calvin Klein
                .slideshow-title Нижнее белье
                .slideshow-collection Новая коллекция
                a.btn(href='' title='Посмотреть') Посмотреть
            img.slideshow-img(src='images/slideshow/slide1.jpg' alt='Calvin Klein')
    .slideshow-item
        .container
            .slideshow-text
                .slideshow-label Calvin Klein
                .slideshow-title Нижнее белье
                .slideshow-collection Новая коллекция
                a.btn(href='' title='Посмотреть') Посмотреть
            img.slideshow-img(src='images/slideshow/slide1.jpg' alt='Calvin Klein')