.top-banners.block
    .container
        .top-banners-item
            img.top-banners-img(src='images/content/top-banners/item-1.png' alt='')
            span.top-banners-text
                span.top-banners-title Магазин в самом центре Санкт-Перербурга
                span.top-banners-text 5 минут от ст. метро Московская
        .top-banners-item
            img.top-banners-img(src='images/content/top-banners/item-2.png' alt='')
            span.top-banners-text
                span.top-banners-title Удобные способы оплаты
                span.top-banners-text Оплатить заказ вы можете любым удобным способом: наличные, банковские карты, электронные кошельки
        .top-banners-item
            img.top-banners-img(src='images/content/top-banners/item-3.png' alt='')
            span.top-banners-text
                span.top-banners-title Доставка в удобное время
                span.top-banners-text В Санкт-Петербурге доставка в день заказа. в удобное для вас время. До Москвы доставка 1 день в Регионы от 3 дней
        .top-banners-item
            img.top-banners-img(src='images/content/top-banners/item-4.png' alt='')
            span.top-banners-text
                span.top-banners-title Все в наличии
                span.top-banners-text Мы гарантируем что все товары, которые есть на сайте имеются у нас в наличии. Посмотреть и померить их можно у нас в шоуруме на Литейном 61