nav.topmenu.block
    .container
        ul.menu
            li
                a(href='#' title='Новинки') Новинки
            li
                a(href='#' title='Очки') Очки
            li
                a(href='#' title='Футболки') Футболки
            li
                a(href='#' title='Аксессуары') Аксессуары
            li
                a(href='#' title='Сумки') Сумки
            li
                a(href='#' title='Обувь') Обувь
            li
                a(href='#' title='Кофты') Кофты
            li
                a(href='#' title='Куртки') Куртки
            li
                a(href='#' title='Нижнее белье') Нижнее белье
            li
                a(href='#' title='Платья') Платья
            li
                a(href='#' title='Разное') Разное
            li
                a(href='#' title='Распродажа') Распродажа